# ide
.idea/
.vscode/

# macos
.DS_Store

# build
/build/
/rucbase_client/build/
/cmake-build-debug/
/cmake-build-wsl_profile_debug
*.out

# bison & flex
#lex.yy.cpp
#yacc.tab.h
#yacc.tab.cpp

# python
__pycache__/

# backup
*_backup/

# tmp
/tmp/
/src/parser/build/
*.zip

deps/
src.el/CMakeLists.txt
src.el/defs.h
src.el/errors.h
src.el/portal.h
src.el/record_printer.h
src.el/rmdb.cpp
src.el/analyze/analyze.cpp
src.el/analyze/analyze.h
src.el/analyze/CMakeLists.txt
src.el/common/CMakeLists.txt
src.el/common/common.h
src.el/common/config.h
src.el/common/context.h
src.el/execution/CMakeLists.txt
src.el/execution/execution_defs.h
src.el/execution/execution_manager.cpp
src.el/execution/execution_manager.h
src.el/execution/execution_sort.h
src.el/execution/execution.h
src.el/execution/executor_abstract.h
src.el/execution/executor_delete.h
src.el/execution/executor_index_scan.h
src.el/execution/executor_insert.h
src.el/execution/executor_nestedloop_join.h
src.el/execution/executor_projection.h
src.el/execution/executor_seq_scan.h
src.el/execution/executor_update.h
src.el/index/CMakeLists.txt
src.el/index/ix_defs.h
src.el/index/ix_index_handle.cpp
src.el/index/ix_index_handle.h
src.el/index/ix_manager.h
src.el/index/ix_scan.cpp
src.el/index/ix_scan.h
src.el/index/ix.h
src.el/optimizer/CMakeLists.txt
src.el/optimizer/optimizer.h
src.el/optimizer/plan.h
src.el/optimizer/planner.cpp
src.el/optimizer/planner.h
src.el/parser/ast_printer.h
src.el/parser/ast.cpp
src.el/parser/ast.h
src.el/parser/CMakeLists.txt
src.el/parser/lex.l
src.el/parser/lex.yy.c
src.el/parser/lex.yy.cpp
src.el/parser/lex.yy.cpp~origin_master
src.el/parser/lex.yy.hpp
src.el/parser/parse_node.h
src.el/parser/parser_defs.h
src.el/parser/parser.h
src.el/parser/test_parser.cpp
src.el/parser/yacc.tab.c
src.el/parser/yacc.tab.cpp
src.el/parser/yacc.tab.cpp~origin_master
src.el/parser/yacc.tab.h
src.el/parser/yacc.tab.h~origin_master
src.el/parser/yacc.tab.hpp
src.el/parser/yacc.y
src.el/record/bitmap.h
src.el/record/CMakeLists.txt
src.el/record/rm_defs.h
src.el/record/rm_file_handle.cpp
src.el/record/rm_file_handle.h
src.el/record/rm_manager.h
src.el/record/rm_scan.cpp
src.el/record/rm_scan.h
src.el/record/rm.h
src.el/recovery/CMakeLists.txt
src.el/recovery/log_defs.h
src.el/recovery/log_manager.cpp
src.el/recovery/log_manager.h
src.el/recovery/log_recovery.cpp
src.el/recovery/log_recovery.h
src.el/replacer/CMakeLists.txt
src.el/replacer/lru_replacer.cpp
src.el/replacer/lru_replacer.h
src.el/replacer/replacer.h
src.el/storage/buffer_pool_manager.cpp
src.el/storage/buffer_pool_manager.h
src.el/storage/CMakeLists.txt
src.el/storage/disk_manager.cpp
src.el/storage/disk_manager.h
src.el/storage/page.h
src.el/system/CMakeLists.txt
src.el/system/sm_defs.h
src.el/system/sm_manager.cpp
src.el/system/sm_manager.h
src.el/system/sm_meta.h
src.el/system/sm.h
src.el/test/CMakeLists.txt
src.el/test/concurrency/concurrency_test_bonus.py
src.el/test/concurrency/concurrency_test_main.cpp
src.el/test/concurrency/concurrency_test.cpp
src.el/test/concurrency/concurrency_test.h
src.el/test/concurrency/concurrency_test.py
src.el/test/concurrency/concurrency_unit_test.py
src.el/test/concurrency/concurrency_sql/concurrency_read_test_output.txt
src.el/test/concurrency/concurrency_sql/concurrency_read_test.sql
src.el/test/concurrency/concurrency_sql/concurrency_test.sql
src.el/test/concurrency/concurrency_sql/dirty_read_test_output.txt
src.el/test/concurrency/concurrency_sql/dirty_read_test.sql
src.el/test/concurrency/concurrency_sql/dirty_write_test_output.txt
src.el/test/concurrency/concurrency_sql/dirty_write_test.sql
src.el/test/concurrency/concurrency_sql/lost_update_test_output.txt
src.el/test/concurrency/concurrency_sql/lost_update_test.sql
src.el/test/concurrency/concurrency_sql/phantom_read_test_1_output.txt
src.el/test/concurrency/concurrency_sql/phantom_read_test_1.sql
src.el/test/concurrency/concurrency_sql/phantom_read_test_2_output.txt
src.el/test/concurrency/concurrency_sql/phantom_read_test_2.sql
src.el/test/concurrency/concurrency_sql/phantom_read_test_3_output.txt
src.el/test/concurrency/concurrency_sql/phantom_read_test_3.sql
src.el/test/concurrency/concurrency_sql/phantom_read_test_4_output.txt
src.el/test/concurrency/concurrency_sql/phantom_read_test_4.sql
src.el/test/concurrency/concurrency_sql/unrepeatable_read_test_hard_output.txt
src.el/test/concurrency/concurrency_sql/unrepeatable_read_test_hard.sql
src.el/test/concurrency/concurrency_sql/unrepeatable_read_test_output.txt
src.el/test/concurrency/concurrency_sql/unrepeatable_read_test.sql
src.el/test/index/b_plus_tree_concurrent_test.cpp
src.el/test/index/b_plus_tree_delete_test.cpp
src.el/test/index/b_plus_tree_insert_test.cpp
src.el/test/query/query_test_basic.py
src.el/test/query/query_test.cpp
src.el/test/query/query_unit_test.py
src.el/test/query/query_sql/basic_query_answer1.txt
src.el/test/query/query_sql/basic_query_answer2.txt
src.el/test/query/query_sql/basic_query_answer3.txt
src.el/test/query/query_sql/basic_query_answer4.txt
src.el/test/query/query_sql/basic_query_answer5.txt
src.el/test/query/query_sql/basic_query_test1.sql
src.el/test/query/query_sql/basic_query_test2.sql
src.el/test/query/query_sql/basic_query_test3.sql
src.el/test/query/query_sql/basic_query_test4.sql
src.el/test/query/query_sql/basic_query_test5.sql
src.el/test/regress/regress_test_main.cpp
src.el/test/regress/regress_test.cpp
src.el/test/regress/regress_test.h
src.el/test/storage/buffer_pool_manager_test.cpp
src.el/test/storage/disk_manager_test.cpp
src.el/test/storage/lru_replacer_test.cpp
src.el/test/storage/record_manager_test.cpp
src.el/test/transaction/transaction_test_bonus.py
src.el/test/transaction/transaction_test.cpp
src.el/test/transaction/transaction_test.py
src.el/test/transaction/transaction_unit_test.py
src.el/test/transaction/transaction_sql/abort_index_test_output.txt
src.el/test/transaction/transaction_sql/abort_index_test.sql
src.el/test/transaction/transaction_sql/abort_test_output.txt
src.el/test/transaction/transaction_sql/abort_test.sql
src.el/test/transaction/transaction_sql/commit_index_test_output.txt
src.el/test/transaction/transaction_sql/commit_index_test.sql
src.el/test/transaction/transaction_sql/commit_test_output.txt
src.el/test/transaction/transaction_sql/commit_test.sql
src.el/test/transaction/transaction_sql/transaction_test.cpp
src.el/transaction/CMakeLists.txt
src.el/transaction/transaction_manager.cpp
src.el/transaction/transaction_manager.h
src.el/transaction/transaction.h
src.el/transaction/txn_defs.h
src.el/transaction/concurrency/lock_manager.cpp
src.el/transaction/concurrency/lock_manager.h
